.page-header {
display: flex;
flex-direction: column;
border: solid 2px red;
}

.page-header__logo {
  height: 85px;
  border: solid 1px blue;
  background: rgba(255, 255, 255, 0.5);
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    order: 2;
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 648px;
  }
}
